.nav-define{
    background-color: #0160aa;
    color: white;
    
}
.active-define{
    background-color: #0073b7;
    
}
.li-define{
    color: #fff;
}
.tittle-define{
    font-family: "微软雅黑";
}
.bg{
    background: url(../images/bg-4.jpg)  center fixed;
    background-size:contain;
}
.bg-slider{
    background: url(../images/bg-8.jpg)  center ;
    background-size:contain;
}
.bg-protect{
    background: url(../images/bg-5.jpg) center fixed;
    background-size:contain;
}
.bg-foot{
    background: url(../images/bg-2.jpg) center fixed;
    background-size:contain;
}
#nav-define{
      background:url(../images/nav-bg.jpg) repeat-x; position:relative; z-index:2000;
}
.bg-divide{
    background-color: #B0DBFB;
}
.list-define{
    padding-top: 20px;
}